
.this {
	display: flex;
}

.nav {
	--spacing: 6px;
	--border-radius: 1rem;
	height: 30em; max-height: 80vmin;
	width:  30em; max-width:  80vmin;
	display:        grid;
	grid-template:
	"pofl pofl pofl ponl" 3fr
	"htpl htpl htpl hths" 1fr
	"colr colr colr .   " 1fr
	"repo bugs .    .   " 1fr
	/ 1fr  1fr  1fr  3fr  ;
}
.nav > * {
	border-style:   double !important;
}
.nav--play-offline  { grid-area: pofl; }
.nav--play-online   { grid-area: ponl; }
.nav--how-to-play   { grid-area: htpl; }
.nav--how-to-host   { grid-area: hths; }
.nav--colour-scheme { grid-area: colr; }
.nav--goto-repo     { grid-area: repo; text-decoration: none; }
.nav--report-issue  { grid-area: bugs; text-decoration: none; }
