
.this {
	contain: strict;
	overflow: hidden hidden;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 0.14em solid transparent;
	border-radius: 0.35em;
	background-color: var(--colour-tileBg);
}
.this * {
	pointer-events: none;
}

.this[data-health] {
	border-color:     var(--colour-tileBd);
	color:            var(--colour-healthFg);
	background-color: var(--colour-healthBg);

	transition-property: color, background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
}
.this[data-occ-id] {
	border-color:     var(--colour-tileBd);
	background-color: var(--colour-pFaceMe);
}
