
.this {
	display:        grid;
	grid-template:
		"controls main players" 100% /
		minmax(auto, 1fr)
		auto
		minmax(auto, 1fr);
}
.grid-wrapper {
	grid-area:      main;
	contain:        content;
	box-sizing:     border-box;
	height:         100%;
	padding:        1rem 0rem;
}
.controls-bar {
	--spacing:      var(--spc-s);
	--border-radius:0.7rem;
	--track-size:   5rem;
	position:       sticky;
	top:            0;

	grid-area:      controls;
	display:        grid;
	grid-auto-rows: var(--track-size);
	grid-template-columns: minmax(var(--track-size), 1fr);
	justify-items:  stretch;
	align-items:    stretch;
	font-size:      80%;
	gap:            var(--spc-m);
}
.controls-bar > * {
	padding:        0.35em;
}
.players-bar {
	grid-area:      players;
}

@media screen and (max-aspect-ratio: 1/1) {
	.this {
		align-content: flex-start;
		grid-template:
		"main"          calc(100vh - 7.5rem)
		"controls"      max-content
		"players"       auto /
		1fr;
	}
	.grid-wrapper {
		padding:        1rem;
		padding-bottom: 0rem;
	}
	.controls-bar {
		/* grid-auto-flow:     column; */
		grid-template-columns:  repeat(3, var(--track-size));
		grid-template-rows: var(--track-size);
	}
}
