# https://eslint.org/docs/user-guide/configuring.html#ignoring-files-and-directories
*~

/.vscode/
/assets/
/dist/
.templates/
*tsconfig*.json

# used ".../**/*" since "!" overrides don't work for ".../"
/scripts/**/*
!/scripts/webpack/webpack*.config.ts
!/scripts/webpack/pack.ts


*.txt
*.md
*.html
*.css
