# https://eslint.org/docs/user-guide/configuring.html#ignoring-files-and-directories
/webpack.config.js
/.vscode/
/assets/
/dist/
# used ".../**/*" since "!" overrides don't work for ".../"
/scripts/**/*
!/scripts/webpack.config.ts
.templates/
tsconfig.json
*~
*.md
