## GITATTRIBUTES FOR WEB PROJECTS
#
# Details per file setting:
#   text    These files should be normalized (i.e. convert CRLF to LF).
#   binary  These files are binary and should be left untouched.
#
# Note that binary is a macro for -text -diff.
#
# Based on https://github.com/alexkaratarakis/gitattributes

# Auto detect
##   Handle line endings automatically for files detected as
##   text and leave all files detected as binary untouched.
##   This will handle all files NOT defined below.
*                 text=auto

# Source code
*.bash            text eol=lf
*.bat             text eol=crlf
*.cmd             text eol=crlf
*.css             text diff=css
*.html            text diff=html
*.js              text
*.json            text
*.jsx             text
*.less            text
*.map             text -diff
*.ps1             text eol=crlf
*.py              text diff=python
*.sass            text
*.scss            text diff=css
*.sh              text eol=lf
*.sql             text
*.ts              text
*.tsx             text
*.xml             text
*.xhtml           text diff=html

# Docker
Dockerfile        text

# Documentation
*.md              text diff=markdown
*.txt             text
AUTHORS           text
CHANGELOG         text
CONTRIBUTING      text
COPYING           text
*COPYRIGHT*       text
INSTALL           text
LICENSE           text
NEWS              text
*README*          text
TODO              text

# Templates
*.ejs             text diff=html
*.hbs             text
*.vue             text

# Configs
*.cnf             text
*.conf            text
*.config          text
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text
.htaccess         text
*.lock            text -diff
package.json      text eol=lf
package-lock.json text eol=lf -diff
pnpm-lock.yaml    text eol=lf -diff
yarn.lock         text -diff
*.toml            text
*.yaml            text
*.yml             text
browserslist      text
Makefile          text
makefile          text

# Heroku
Procfile          text

# Graphics
*.gif             binary
*.ico             binary
*.jpg             binary
*.jpeg            binary
*.pdf             binary
*.png             binary
*.psd             binary
# SVG treated as an asset (binary) by default.
*.svg             text
# If you want to treat it as binary,
# use the following line instead.
# *.svg           binary
*.svgz            binary
*.tif             binary
*.tiff            binary
*.wbmp            binary
*.webp            binary

# Audio
*.m4a             binary
*.mid             binary
*.midi            binary
*.mp3             binary
*.ogg             binary

# Video
*.fla             binary
*.flv             binary
*.m4v             binary
*.mov             binary
*.mp4             binary
*.mpeg            binary
*.mpg             binary
*.swf             binary
*.webm            binary

# Archives
*.7z              binary
*.gz              binary
*.br              binary
*.jar             binary
*.rar             binary
*.tar             binary
*.zip             binary

# Fonts
*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary
*.woff2           binary

# Executables
*.exe             binary
*.pyc             binary

# RC files (like .babelrc or .eslintrc)
*.*rc             text

# Ignore files (like .npmignore or .gitignore)
*.*ignore         text
