
# yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# build
/dist/

# vim
*.swp
*.swo
*.orig
Session.vim

# security
*.pem
*.pfx
*.p12
