<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SnaKey v3</title>
        <meta name="author"         content="David Fong"/>
        <meta name="description"    content="A multiplayer typing game for learning written languages."/>
        <meta name="viewport"       content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>

        <%= htmlWebpackPlugin.tags.headTags.join("\n        ") %>
        <meta name="og:title"  content="SnaKey v3"/>
        <meta name="og:description" content="A multiplayer typing game for learning written languages."/>
        <meta name="og:image"  content="./assets/images/screenshots/snakey_version3_blanktitle.png"/>
        <link rel="manifest"   href="manifest.webmanifest"/>
    </head>


    <body style="margin:0;">
        <div id="default-colour-scheme-anchor"></div>
        <script>
            // Load up last used colour scheme (or default):
            const store = document.getElementById("colour-store");
            const cachedStyleLiteral = localStorage.getItem("colourSchemeStyleLiteral");
            if (cachedStyleLiteral) {
                document.documentElement.style.set
            }
        </script>
        <div id="background"  class="sk-screen"></div>
        <div id="screen-tint" class="sk-screen"></div>
        <div id="all-screens-container"></div>
        <%= htmlWebpackPlugin.tags.bodyTags.join("\n        ") %>
    </body>
</html>