<!DOCTYPE html>
<html>
    <head>
        <title>SnaKey v3</title>
        <meta name='author'         content='David Fong' />
        <meta name='description'    content='An original game based on the snake game.' />
        <meta name='viewport'       content='width=device-width, initial-scale=1.0' />
        <meta charset='UTF-8' /> <!-- make sure languages render -->

        <%= htmlWebpackPlugin.tags.headTags.join("\n        ") %>
        <%= extraScripts.map((name) => `<script src="${name}"></script>`).join("\n        ") %>
        <link rel='stylesheet' type='text/css' href='assets/style/index.css' />
    </head>


    <body style='margin:0;'>
        <div id='background'></div>
        <div id="game-grid-container">
            <div id='game-grid'></div>
        </div>

        <script>
            // Disable scroll-down via spacebar:
            window.addEventListener('keydown', (event) => {
                if (event.keyCode === 32 && event.target === document.body) {
                    event.preventDefault();
                    return false;
                }
            }, { capture: false, });
            // window.onbeforeunload = (event) => '';
        </script>
        <%= htmlWebpackPlugin.tags.bodyTags.join("\n        ") %>
    </body>
</html>