[data-sk-colour-scheme="smooth-stone"] {
	--colour-mainFg: #c3c5ce;
	--colour-mainBg: #72888d;
	--colour-tileFg: #a2b6bb;
	--colour-tileBg: #546164;
	--colour-tileBd: #ffffff;
	--colour-healthFg: #21352e;
	--colour-healthBg: #398f5a;
	--colour-pFaceMe: #43aec9;
	--colour-pFaceMeOppo: #5a5f9c;
	--colour-pFaceTeammate: #bdae58;
	--colour-pFaceImtlTeammate: #f8df50;
	--colour-pFaceOpponent: #a34e59;
	--colour-pFaceImtlOpponent: #e23fa3;
}