
/* If anything goes into fullscreen mode: */
::backdrop {
    background-color: var(--colour-mainBg);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:    "Trebuchet MS", "Lucida Sans Unicode";
    font-weight:    bold;
    color:          var(--colour-mainFg);
    text-align:     center;
    transition:     filter 0.5s ease-in-out;
}

table {
    border-spacing: 0;
}
button {
    font:       inherit;
    color:      inherit;
    padding:    0px;
    background-color: var(--colour-tileBg);
}
button:disabled {
    opacity:    0.7;
}
