
#all-screens-container {
    display:    contents;
}

.sk-screen {
    /* Make sure that each display
    starts its own stacking context. */
    position:   fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}
.sk-screen:not([data-current]) {
    visibility: hidden;
    pointer-events: none;
    /* setting visibility to none should be
    sufficient to prevent pointer listening,
    but I've specified it just to be safe. */
}

/* Special instances of non-navigated screens that
are explicitly marked up in the HTML. */
#background {
    z-index:        -10000;
    visibility:     visible;
    background-color: var(--colour-mainBg);
}
#screen-tint {
    pointer-events: none;
    z-index:        10000;
    visibility:     visible;
    opacity:        0.0;
    transition-property: opacity, background-color;
    /* transition-duration will be assigned programmatically. */
    transition-timing-function: ease-in-out;
}
