
#all-screens-container {
    display:    contents;
}

.screen {
    /* Make sure that each display
    starts its own stacking context. */
    z-index:    0;
    position:   fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}

#background {
    z-index:    -1000;
    background-color: var(--colour-mainBg);
}



.sks-pg--grid-container {
    flex-flow:  column nowrap;
}
@media screen and (min-aspect-ratio: 6/5) {
    .sks-pg--grid-container {
        height:     100vh;
        min-width:  100vh;
    }
}
