
.screen {
    /* Make sure that each display
    starts its own stacking context. */
    z-index:    0;
    position:   fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}

#background {
    z-index:    -1000;
    background-color: var(--colour-mainBg);
}
