[data-sk-colour-scheme="snakey"] {
    --colour-mainFg: #e9eef3;
    --colour-mainBg: #3f5e77;
    --colour-tileFg: #aebde2;
    --colour-tileBg: #2e3b48;
    --colour-tileBd: #ffffff;
    --colour-healthFg: #21352e;
    --colour-healthBg: #4edf8f;
    --colour-pFaceMe: #35e7ff;
    --colour-pFaceTeammate: #f8df50;
    --colour-pFaceImtlTeammate: #f8df50;
    --colour-pFaceOpponent: #ec4daf;
    --colour-pFaceImtlOpponent: #e23fa3;
}