@media print { :root {
    --colour-mainFg: black !important;
    --colour-mainBg: white !important;
    --colour-tileFg: black !important;
    --colour-tileBg: white !important;
    --colour-tileBd: black !important;
    --colour-healthFg: black !important;
    --colour-healthBg: white !important;
    --colour-pFaceMe: grey !important;
    --colour-pFaceMeOppo: grey !important;
    --colour-pFaceTeammate: grey !important;
    --colour-pFaceImtlTeammate: grey !important;
    --colour-pFaceOpponent: grey !important;
    --colour-pFaceImtlOpponent: grey !important;
}}
[data-sk-colour-scheme="snakey"] {
    --colour-mainFg: #e9eef3;
    --colour-mainBg: #3f5e77;
    --colour-tileFg: #e9eef3;
    --colour-tileBg: #2e3b48;
    --colour-tileBd: #ffffff;
    --colour-healthFg: #21352e;
    --colour-healthBg: #4edf8f;
    --colour-pFaceMe: #35e7ff;
    --colour-pFaceMeOppo: #937ad8;
    --colour-pFaceTeammate: #f8d150;
    --colour-pFaceImtlTeammate: #f8d150;
    --colour-pFaceOpponent: #ec4daf;
    --colour-pFaceImtlOpponent: #e23fa3;
}