
.fill-parent {
    position:   absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: hidden hidden;
}

.text-select-disabled {
    user-select:        none;
    -moz-user-select:   none;
    -webkit-user-select:none;
    -ms-user-select:    none;
}

.center-contents {
    display:    inline-flex;
    align-items: center;
    justify-content: center;
}
.stack-contents {
    position:   relative;
}
.stack-contents > * {
    position:   absolute;
}

