.grid {
	contain: strict;
	display: block;
}

.tile {
	rx: 0.1;
	stroke-width: 0.14;
	fill: var(--colour-tileBg);
	stroke: var(--colour-tileBg);
}

.char {
	pointer-events: none;
	dominant-baseline: central;
	text-anchor: middle;
	fill: var(--colour-tileFg);
	font-size: 0.04em;
}