
.screen-play {
    display:        grid;
    grid-template:
        "controls main scoreboard" 1fr /
        minmax(auto, 1fr)
        minmax(24em, auto)
        minmax(auto, 1fr);
}
.screen-play--grid-container {
    grid-area:      main;
    flex-flow:      column nowrap;
    min-width:      max-content;
}
.screen-play--controls-bar {
    --spacing:      0.3rem;
    --border-radius: 0.7rem;
    grid-area:      controls;
    display:        grid;
    grid-auto-rows: 5rem;
    grid-template-columns: minmax(5rem, 1fr);
    align-content:  center;
}
.screen-play--players-bar {
    grid-area:      players;
}
@media screen and (max-aspect-ratio: 1/1) {
    .screen-play {
        grid-template:
        "main"          auto
        "controls"      auto
        "players"       auto /
        1fr;
    }
}
