
.screen-play {
    display:        grid;
    grid-template:
        "controls main scoreboard" 1fr /
        minmax(auto, 1fr)
        minmax(24em, auto)
        minmax(auto, 1fr);
}
.screen-play--grid-container {
    grid-area:      main;
    flex-flow:      column nowrap;
    min-width:      max-content;
}
.screen-play--controls-bar {
    --spacing:      0.3rem;
    --border-radius: 0.7rem;
    --track-size:   5rem;
    grid-area:      controls;
    display:        grid;
    grid-auto-rows: var(--track-size);
    grid-template-columns: minmax(var(--track-size), 1fr);
    align-content:  center;
    font-size:      80%;
}
.screen-play--players-bar {
    grid-area:      players;
}
@media screen and (max-aspect-ratio: 1/1) {
    .screen-play {
        grid-template:
        "main"          auto
        "controls"      min-content
        "players"       auto /
        1fr;
    }
    .screen-play--controls-bar {
        grid-auto-flow:     column;
        grid-auto-columns:  var(--track-size);
        grid-template-rows: var(--track-size);
    }
}
