
.screen-joiner {
}
.screen-joiner--content-wrapper {
    display:        grid;
    grid-gap:       2.0em;
    font-size:      120%;
}
.screen-joiner--content-wrapper > label {
    position:       relative;
    display:        grid;
    grid-gap:       0.2em;
    opacity:        0.5;
    transition: all 0.4s ease-in-out;
}
.screen-joiner--content-wrapper input {
    margin:         0.5em;
    border-width:   0.2em;
    transition:     inherit;
}
.screen-joiner--content-wrapper:focus-within > label:focus-within {
    opacity:        1.0;
}
.screen-joiner--content-wrapper input:focus {
    border-color:   var(--colour-tileBd);
}

.screen-joiner--lan-host-url {
}
.screen-joiner--group-name {
}
.screen-joiner--passphrase {
}
.screen-joiner--next-button {
}
