
.screen-home {
    display:        flex;
}

.screen-home--nav {
    height: 30em; max-height: 90vmin;
    width:  30em; max-width:  90vmin;
    display:        grid;
    grid-template:
    "pofl join join join" 3fr
    "host tuto tuto tuto" 1fr
    "host colr colr colr" 1fr
    "host repo bugs .   " 1fr
    / 3fr  1fr  1fr  1fr  ;
}
.screen-home--nav > * {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin: 6px;
    border:  0px double var(--colour-tileBd);
    color:              var(--colour-mainFg);
    background-color:   var(--colour-tileBg);
}
.screen-home--nav > :focus {
    border-width: 5px;
    outline: none;
}
.screen-home--nav--play-offline  { grid-area: pofl; }
.screen-home--nav--join-online   { grid-area: join; }
.screen-home--nav--host-online   { grid-area: host; }
.screen-home--nav--tutorial      { grid-area: tuto; }
.screen-home--nav--colour-scheme { grid-area: colr; }
.screen-home--nav--goto-repo     { grid-area: repo; }
.screen-home--nav--report-issue  { grid-area: bugs; }
