
.screen-play {
    display:        grid;
    grid-template:
        "controls main scoreboard" 100% /
        minmax(auto, 1fr)
        auto
        minmax(auto, 1fr);
}
.game-grid {
    margin:         1rem 0rem;
}
.screen-play--controls-bar {
    --spacing:      0.3rem;
    --border-radius:0.7rem;
    --track-size:   5rem;
    position:       sticky;
    top:            0;

    grid-area:      controls;
    display:        grid;
    grid-auto-rows: var(--track-size);
    grid-template-columns: minmax(var(--track-size), 1fr);
    align-items:    stretch;
    font-size:      80%;
}
.screen-play--controls-bar > * {
    padding:        0.35em;
}
.screen-play--players-bar {
    grid-area:      players;
}
@media screen and (max-aspect-ratio: 1/1) {
    .screen-play {
        grid-template:
        "main"          auto
        "controls"      max-content
        "players"       auto /
        1fr;
    }
    .game-grid {
        margin:         1rem;
        margin-bottom:  0rem;
    }
    .screen-play--controls-bar {
        /* grid-auto-flow:     column; */
        grid-template-columns:  repeat(3, var(--track-size));
        grid-template-rows: var(--track-size);
        align-items: stretch;
    }
}
