
/*
https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
*/
/*
.game-grid-impl-body[data-coord-sys="BEEHIVE"] .tile {
    --nothing: "yet";
}
.game-grid-impl-body[data-coord-sys="BEEHIVE"] .tile > * {
    --nothing: "yet";
}
 */
