
:root {
    transition:
        background-color,
        border-color,
        color
        0.5s ease-in-out;
}

body {
    font:           90% Trebuchet MS;
    color:          var(--colour-mainFg);
    text-align:     center;
    user-select:    none;
    -moz-user-select: none;
    transition:     filter 0.5s ease-in-out;
}

.background {
    height:     100%;
    width:      100%;
    position:   fixed;
    top:        0px;
    left:       0px;
    z-index:    -1000;
}

.fill-parent {
    position:   absolute;
    width:      100%;
    height:     100%;
    top:        0;
}

table {
    border-spacing: 0;
}