#game-grid-container {
    position:   relative;
    display:    inline-flex;
    flex-flow:  column nowrap;
    align-items: center;
    justify-content: center;
    height:     100vh;
}
.game-grid {
    /* min-width:  calc(); */
    color:      var(--colour-tileFg);
    background-color: var(--colour-mainBg);
}
.game-grid__spotlight {
    background-image: radial-gradient(
        ellipse closest-side at center,
        white, black
    );
    /* TODO.design how to set size of box + z-index */
}


.tile, .tile > * {
    padding:    0px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}
.tile {
    z-index:    0;
    position:   relative;
    border: 0.5px solid var(--colour-mainBg);
    border-radius: 18%;
}
.tile * {
    border: 1px solid var(--colour-tileBd);
    border-radius: 16%;
}
.tile[data-health] * {
    border-color: transparent;
}


.tile .player {
    z-index: 10;
    border-color: var(--colour-tileBd);
}
.player[data-face="me"] {
    background-color: var(--colour-pFaceMe);
}
.player[data-face="teammate"] {
    background-color: var(--colour-pFaceTeammate);
}
.player[data-face="opponent"] {
    background-color: var(--colour-pFaceOpponent);
}
.player[data-face="teammate"][data-downed="team"] {
    background-color: var(--colour-pFaceImmortalTeammate);
}
.player[data-face="opponent"][data-downed="team"] {
    background-color: var(--colour-pFaceImmortalOpponent);
}
.player__downed-overlay {
    z-index: 5;
}
.player[data-downed="no"] > .player__downed-overlay {
    visibility: hidden;
}

.tile__char {
    z-index: 2;
    background-color: var(--colour-tileBg);
}
.tile__seq {
    z-index:    20;
    position:   absolute;
    top:        -50%;
    left:       50%;
    visibility: none;
    opacity:    0.0;
    /* transition: opacity 0.2s ease-in-out; */
}
.tile:hover .tile__seq {
    visibility: visible;
    opacity:    1.0;
}


.game-grid[data-coord-sys="EUCLID2"] .tile {
    width:      20px;
    height:     20px;
}
.game-grid[data-coord-sys="EUCLID2"] .tile > * {
    --nothing:  "yet";
}

.game-grid[data-coord-sys="BEEHIVE"] .tile {
    --nothing:  "yet";
}
.game-grid[data-coord-sys="BEEHIVE"] .tile > * {
    --nothing:  "yet";
}
