
#game-grid-container {
    position:   relative;
    display:    inline-flex;
    height:     100vh;
    flex-flow:  column nowrap;
    align-content: center;
    justify-content: center;
}
#game-grid-container > * {
}


.game-grid {
    z-index:    0;
    position:   relative;
    padding:    4px 4px;
    border:     5px double var(--colour-tileBd);
    border-radius: 15px;
    color:      var(--colour-tileFg);

    display:    inline-flex;
    align-items: center;
    justify-content: center;

    /* To hide the spotlight off the edges */
    overflow:   hidden hidden;
}


.game-grid__impl-body {
    position:   relative;
}

.game-grid__kbd-dc-icon {
    pointer-events: none;
    z-index:    20;
    position:   absolute;
    color:      var(--colour-tileBd);
    visibility: hidden;
}
.game-grid:focus {
    /* cursor:     help; */
    outline:    none;
}
.game-grid:not(:focus) .game-grid__impl-body {
    filter:     brightness(70%);
}
.game-grid:not(:focus) .game-grid__kbd-dc-icon {
    visibility: visible;
}


/*
Links that could be helpful for creating different implementations:
https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode
https://www.w3schools.com/cssref/pr_background-blend-mode.asp
 */
.game-grid__spotlight {
    z-index:    10;
    background-image: radial-gradient(
        farthest-side,
        transparent 20%, var(--colour-mainBg)
    );
    padding:    1500%;
    border:     100vmax solid var(--colour-mainBg);
}
