@import "./tile.css";
@import "./colour/index.css";

:root {
    transition:
        background-color,
        border-color,
        color
        0.5s ease-in-out;
}

body {
    font:           90% Trebuchet MS;
    color:          var(--colour-mainFg);
    text-align:     center;
    user-select:    none;
    -moz-user-select: none;
    transition:     filter 0.5s ease-in-out;
}

#background {
    z-index:    -1000;
    position:   fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: var(--colour-mainBg);
}

.fill-parent {
    position:   absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

table {
    border-spacing: 0;
}
