
.player {
    /* NO NOT give this a z-index property. If you do,
    each player will start its own stacking context, which
    breaks the ability for the spotlight to hide faraway
    tile sequence hints. */
    display:    inline-flex;
    align-items: center;
    justify-content: center;
    border-color: var(--colour-tileBd);
    /* Need this to allow the spotlight to be visible */
    overflow: visible visible;
}
.player__downed-overlay {
    z-index:    5;
}
.player[data-downed="no"] > .player__downed-overlay {
    visibility: hidden;
}
.player[data-face="me"] {
    background-color: var(--colour-pFaceMe);
}
.player[data-face="teammate"] {
    background-color: var(--colour-pFaceTeammate);
}
.player[data-face="opponent"] {
    background-color: var(--colour-pFaceOpponent);
}
.player[data-face="teammate"][data-downed="team"] {
    background-color: var(--colour-pFaceImmortalTeammate);
}
.player[data-face="opponent"][data-downed="team"] {
    background-color: var(--colour-pFaceImmortalOpponent);
}
