
.tile {
    /* DO NOT give this a z-index property. If you do,
    each tile will start its own stacking context, which
    breaks the spotlight display. */
    --mouseover-shift: 20%;
    position:   relative;
    top:        var(--mouseover-shift);
    left:       var(--mouseover-shift);
}
.tile * {
    /* No pointer events for Tile children! */
    pointer-events: none;
}

.tile__unshift-hitbox {
    position:   absolute;
    top:        calc(-1 * var(--mouseover-shift));
    left:       calc(-1 * var(--mouseover-shift));
    height: 100%; width: 100%;
    display:    inline-flex;
    justify-content: center;
}
.tile__unshift-hitbox > * {
    box-sizing: border-box;
    border: 0.14em solid transparent;
    border-radius: 16%;
}

.tile__char {
    background-color: var(--colour-tileBg);
}
.tile[data-health] .tile__char {
    border-color:     var(--colour-tileBd);
    background-color: var(--colour-health);
}
.tile__seq {
    z-index:    5;
    position:   absolute;
    padding:    0ch  0.4ch;
    min-width:  100%;
    bottom:     0%;
    height:     100%;
    color:      white;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    visibility: hidden;
}
.tile:hover .tile__seq {
    visibility: visible;
}
.tile:hover .tile__char {
    color:      transparent;
}
