
/*
https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode
https://www.w3schools.com/cssref/pr_background-blend-mode.asp
 */
.game-grid__spotlight {
    z-index:    -100;
    background-image: radial-gradient(
        ellipse closest-side at center,
        transparent, var(--colour-mainBg),
    );
    /* TODO.design how to set size of box + z-index */
}


.tile {
    z-index:    0;
    position:   relative;
    display:    inline-flex;
    justify-content: center;
    background-color: transparent;
}
.tile > * {
    pointer-events: none;
    box-sizing: border-box;
    /* beware that some values for width seem to
    behave with poor symmetry in browsers. Change
    The HTML to use a div with grid */
    border: 0.14em solid transparent;
    border-radius: 16%;
}
.tile__char {
    background-color: var(--colour-tileBg);
}
.tile[data-health] .tile__char {
    border-color:     var(--colour-tileBd);
    background-color: var(--colour-health);
}
.tile__seq {
    z-index:    5;
    position:   absolute;
    padding:    0ch  0.4ch;
    min-width:  100%;
    bottom:     0%;
    height:     100%;
    color:      white;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    display:    none;
    opacity:    0.0;
    /* transition: opacity 0.2s ease-in-out; */
}
.tile:hover .tile__seq {
    display:    initial;
    opacity:    1.0;
}
.tile:hover {
    color:      transparent;
}
