
.fill-parent {
    position:   absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow-x: hidden; overflow-y: hidden;
}

.unselectable {
    user-select:        none;
    -moz-user-select:   none;
    -webkit-user-select:none;
    -ms-user-select:    none;
}
