:import("../../../utils/pickone.m.css") {
	_sk-pick-one: this;
}

.this {
	display: grid;
	justify-content: center;
	align-content: center;
	gap: 2em;
}

.this :global(.screen--prev-button) {
	position: absolute;
	margin: 0.7em;
	padding: 0.5em;
	border-radius: 0.5em;
}

.this ._sk-pick-one {
	--padding: 0.5em;
	gap: var(--padding);
	padding: var(--padding);
	border: solid 0.3em var(--colour-tileBd);
	border-radius: 1.45em;
}