<!DOCTYPE html>

<html>
    <head>
        <title>snakey v3</title>
        <meta name='author'         content='David Fong' />
        <meta name='description'    content='An original game based on the snake game.' />
        <meta name='viewport'       content='width=device-width, initial-scale=1.0' />
        <meta charset='UTF-8' /> <!-- make sure languages render -->
        <link rel='icon' href='assets/favicon.ico' type='image/png'/>

        <script src="/socket.io/socket.io.js"></script>
        <script type="module" src="src/"></script> <!-- TODO -->
    </head>


    <body style='margin:0;'>
        <div id='background'></div>
        <div id='game-grid-host'></div>

    
        <!-- Run Game Code: -->
        <script>
            // Disable scroll-down via spacebar:
            window.addEventListener('keydown', (event) => {
                if (event.keyCode == 32 && event.target == document.body) {
                    event.preventDefault();
                    return false;
                }
            });
            // window.onbeforeunload = (event) => '';
        </script>
    </body>
</html>