
.game-grid {
    /* Since this is given the `center-contents` and
    `stack-contents` classes, it defaults to taking
    up no space (its children all have their position
    property set to `absolute`). We rectify this case
    by giving `.game-grid-impl-body` `position: static`. */
    border: 5px double var(--colour-tileBd);
    border-radius:  15px;
    padding: 5px;
}

.game-grid-impl-body {
    position:   static;
    color:      var(--colour-tileFg);
}

.game-grid-kbd-dc,
.game-grid-pause-overlay {
    top: 0; left: 0; bottom: 0; right: 0;
    color: var(--colour-tileBd);
    text-shadow: 0em 0.01em  0.5em black;
    background-color: #00000040;
    visibility: hidden;
}
.game-grid-kbd-dc {
    cursor: pointer;
}
.game-grid-pause-overlay {
    cursor: not-allowed;
}

@media screen {
    .game-grid:focus {
        outline:    none;
    }
    .game-grid[data-game-state="paused"] > .game-grid-pause-overlay,
    .game-grid:not([data-game-state="paused"]):not(:focus) > .game-grid-kbd-dc {
        visibility: visible;
    }
}
