
#game-grid-container {
    height:     100vh;
    flex-flow:  column nowrap;
}


.game-grid {
    /* Since this is given the `center-contents` and
    `stack-contents` classes, it defaults to taking
    up no space (its children all have their position
    property set to `absolute`). We rectify this case
    by giving `.game-grid-impl-body` `position: static`. */
}

.game-grid-impl-body {
    position:   static;
    padding:    4px 4px;
    border:     5px double var(--colour-tileBd);
    border-radius: 15px;
    color:      var(--colour-tileFg);

    /* To hide the spotlight off the edges */
    overflow:   hidden hidden;
}

.game-grid-kbd-dc {
    /* Take up the whole space of the parent, and
    make sure that (regardless of element ordering,)
    This doesn't prevent `.game-grid-impl-body` from
    receiving focus via pointer. */
    pointer-events: none;
    top: 0; left: 0; bottom: 0; right: 0;
    color:      var(--colour-tileBd);
    text-shadow: 0 0  0.5em black;
    visibility: hidden;
}

.game-grid-impl-body:focus {
    /* cursor:     help; */
    outline:    none;
}
.game-grid-impl-body:not(:focus) {
    filter:     brightness(70%);
}
.game-grid-impl-body:not(:focus) ~ .game-grid-kbd-dc {
    visibility: visible;
}
