
.tile {
    /* DO NOT create a new stacking context, which
    breaks the spotlight display. */
    pointer-events: none;
    position:   relative;
    display:    inline-flex;
    align-content: center;
    justify-content: center;
}
.tile * {
    position: absolute;
    height: 100%; width: 100%;
}
.tile .tile__pointer-hitbox {
    pointer-events: initial;
    box-sizing:     initial;
    top: 40%; left: 40%;
    border-radius:  0%;
    /* border-color: black; */
}

.tile > * {
    box-sizing: border-box;
    border: 0.14em solid transparent;
    border-radius: 16%;
}
.tile__char {
    background-color: var(--colour-tileBg);
    overflow: hidden hidden;
}
.tile[data-health] .tile__char {
    border-color:     var(--colour-tileBd);
    background-color: var(--colour-health);
}
.tile__seq {
    z-index:    5;
    padding:    0ch  0.4ch;
    /* bottom:     0%; */
    min-height: 100%; height: max-content;
    min-width:  100%; width:  max-content;
    color:      white;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: white;
    visibility: hidden;
}
.tile__pointer-hitbox:hover ~ .tile__seq {
    visibility: visible;
}
.tile__pointer-hitbox:hover ~ .tile__char {
    color:      transparent;
}
