
.tile {
    /* DO NOT create a new stacking context, which
    breaks the spotlight display. */
    pointer-events: none;
    contain:        size style;
}
.tile * {
    height: 100%; width: 100%;
}
.tile__pointer-hitbox {
    pointer-events: initial;
    contain:        strict;
    top: 40%; left: 40%;
    /* border-color: black; */
}

.tile__char, .tile__seq, .player__face {
    box-sizing: border-box;
    border: 0.14em solid transparent;
    border-radius: 0.35em;
}

.tile__char {
    contain:        strict;
    background-color: var(--colour-tileBg);
    overflow:       hidden hidden;
    display:        grid;
    align-items:    center;
}
.tile__char > * {
    height:         initial;
}
.tile[data-health] .tile__char {
    border-color:     var(--colour-tileBd);
    color:            var(--colour-healthFg);
    background-color: var(--colour-healthBg);

    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.tile__seq {
    contain:        content;
    padding:    0ch  0.4ch;
    /* bottom:     0%; */
    min-height: 100%; height: max-content;
    min-width:  100%; width:  max-content;
    color:          white;
    background-color: rgba(0, 0, 0, 0.5);
    border-color:   white;
    font-family:    inherit;
    visibility:     hidden;
}
.tile__pointer-hitbox:hover ~ .player > .player__face {
    visibility:     hidden;
}
.tile__pointer-hitbox:hover ~ .tile__char {
    color:          transparent;
}
.tile__pointer-hitbox:hover ~ .tile__seq {
    visibility:     visible;
}
