
/* The only way I'm going to stay sane managing
this is by giving it its own file.

Pay special attention to the containment property
specifications made here, which help the browser
avoid performing unnecessary reflow calculations
over the whole grid every time a player moves.
Turn on "Paint Flashing" in a browser inspector. */

.game-grid                      { z-index:   0; contain: content; }

.game-grid-impl-body            { z-index:   0; contain: strict; } /* ROOT */
.player__face[data-face="me"]   { z-index:  21; }
.player__spotlight-long         { z-index:  20; } /* SPOTLIGHT (long-range) */
.tile__seq                      { z-index:  13; }
.player__downed-overlay         { z-index:  12; }
.player__face                   { z-index:  11; }
.tile[data-health] .tile__char  { z-index:  11; }
.player__spotlight-short        { z-index:  10; } /* SPOTLIGHT (short-range) */

.game-grid-kbd-dc               { z-index:   1; }
.game-grid-pause-overlay        { z-index:   2; }
