:root {
    --colour-snakey-tileFg: #aebde2;
    --colour-snakey-tileBg: #2e3b48;
    --colour-snakey-tileBd: #ffffff;
    --colour-snakey-healthFg: #21352e;
    --colour-snakey-healthBg: #4edf8f;

    --colour-snakey-mainFg: #e9eef3;
    --colour-snakey-mainBg: #3f5e77;

    --colour-snakey-pFaceMe: #2fdef5;
    --colour-snakey-pFaceTeammate: #f8df50;
    --colour-snakey-pFaceImmortalTeammate: #f8df50;

    --colour-snakey-pFaceOpponent: #ec4daf;
    --colour-snakey-pFaceImmortalOpponent: #e23fa3;
}