@import "./snakey.css";
/*
This is a special file to get a view of the programmatically-set
swatch based on user selection, with the extra behaviour of falling
back to default values to prevent a flash of uncoloured content
before the javascript programmatically selects the default scheme.
*/
:root {
    --colour-tileFg: var(--colour-selected-tileFg, var(--colour-snakey-tileFg));
    --colour-tileBg: var(--colour-selected-tileBg, var(--colour-snakey-tileBg));
    --colour-tileBd: var(--colour-selected-tileBd, var(--colour-snakey-tileBd));
    --colour-health: var(--colour-selected-health, var(--colour-snakey-health));
    --colour-mainFg: var(--colour-selected-mainFg, var(--colour-snakey-mainFg));
    --colour-mainBg: var(--colour-selected-mainBg, var(--colour-snakey-mainBg));
    --colour-pFaceMe: var(--colour-selected-pFaceMe, var(--colour-snakey-pFaceMe));
    --colour-pFaceTeammate: var(--colour-selected-pFaceTeammate, var(--colour-snakey-pFaceTeammate));
    --colour-pFaceOpponent: var(--colour-selected-pFaceOpponent, var(--colour-snakey-pFaceOpponent));
    --colour-pFaceImmortalTeammate: var(--colour-selected-pFaceImmortalTeammate, var(--colour-snakey-pFaceImmortalTeammate));
    --colour-pFaceImmortalOpponent: var(--colour-selected-pFaceImmortalOpponent, var(--colour-snakey-pFaceImmortalOpponent));
}