:root {
    --colour-snakey-tileFg: rgb(228, 234, 236);
    --colour-snakey-tileBg: rgb(38, 140, 180);
    --colour-snakey-tileBd: white;
    --colour-snakey-health: rgb(78, 223, 97);

    --colour-snakey-mainFg: rgb(33, 96, 155);
    --colour-snakey-mainFg: rgb(255, 255, 255);

    --colour-snakey-pFaceMe: rgb(72, 223, 243);
    --colour-snakey-pFaceTeammate: rgb(245, 219, 75);
    --colour-snakey-pFaceImmortalTeammate: rgb(245, 219, 75);

    --colour-snakey-pFaceOpponent: rgb(226, 63, 163);
    --colour-snakey-pFaceImmortalOpponent: rgb(226, 63, 163);
}