
.impl-body {
    z-index:    0;
    contain:    content;
    position:   static;
    color:      var(--colour-tileFg);
    height:     fit-content;
    width:      fit-content;
    padding:    0.4em;
}
