
.this {
    --border-width: 0.14em;
    --border-radius: 0.35em;
    /* DO NOT create a new stacking context, which
    breaks the spotlight display. */
    pointer-events: none;
    contain:        size style;
}
.this * {
    height: 100%; width: 100%;
}

.char {
    box-sizing: border-box;
    border: var(--border-width) solid transparent;
    border-radius: var(--border-radius);
}
.char {
    contain:        strict;
    background-color: var(--colour-tileBg);
    overflow:       hidden hidden;
    display:        grid;
    align-items:    center;
}
.char > * {
    height:         initial;
}
.this[data-health] .char {
    z-index:          11;
    border-color:     var(--colour-tileBd);
    color:            var(--colour-healthFg);
    background-color: var(--colour-healthBg);

    transition-property: color, background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
